.Online{
    /* border: 5px solid green; */
    padding: 0 10px;
}

.order__imageContainer{
    height: 330px;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.order__image{
    /* border: 2px solid red; */
    width: 70vw;
    height: 300px;
    object-fit: cover;
}

.order__utinsils{
    /* border: 2px solid rgb(49, 164, 79); */
    border-radius: 45%;
    width: 140px;
    font-size: large;
    display: flex;
    justify-content: center;
}

.Breakfast_Container{
    display: flex;
    flex-direction: column;

}

.Breakfast_Product_Container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;

}

.Order__row{
    padding: 0 15px;
}

.order__healthInfo{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-style: italic;
    margin-bottom: 25px;
}